/*overall body style*/
body {
	width: 960px;
	background-image: url("../images/cork-wallet.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777
	font-size: 12px;
}

/*header setup*/
header {
	background-color: #fff;
	height: 77px;
}

.myname {
	background-color: #4aaaa5;
	padding: 25px 0;
	margin-left: 45px;
	width: 20%; 
	text-align: center;
	float: left;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	color: #fff
}

.pages {
	padding: 35px 25px;
	float: right;
	font-size: 12px;
}

.pages:hover {
	background-color: #4aaaa5; 
	}

/*general setup for main articles*/
article {
	width: 550px; 
	background-color: #fff;
	border: 5px solid #ddd;
	padding: 25px;
	margin: 25px 25px 25px 40px;
	clear: both;
	float: left;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 22px; 
	color: #4aaaa5;
}

/* flow text around pic in about me*/
.mypic {
    float: left;
    padding: 0 10px 10px 0;
}

/*submit button styling*/
.submit {
	background-color: #4aaaa5;
	color: #fff;
}

/*text over photo and other styling in portfolio*/
.projectlink { 
   position: relative; 
   padding: 10px;
   float: left;
   margin: 20px
}

h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	background-color: #4aaaa5;
	color: #fff;
    text-align: center;
	padding: 10px;
	position: absolute; 
    top: 170px; 
    left: 10; 
    width: 180px;
}

/* styling for connect sidebar*/
aside {
	width: 220px; 
	background-color: #fff;
	padding: 25px; 
	border: 5px solid #ddd;
	margin-top: 27px;
	float: left;

}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	text-align: center; 
	color: #4aaaa5;
}

.icons {
	padding: 10px;
	display: -webkit-inline-box;
}

/* styling for footer*/
footer {
	clear: both;
	background-color: #666;
	font-size: 8px;
	text-align: center;
	color: #fff;
	padding: 25px 0;
	border-top: 5px solid #4aaaa5;
	margin: 0;
		}

/*sticky footer!!*/
html, body {
	height: 100%; 
	margin: 0; 
}

.wrapper { 
	min-height: 100%; 
	margin-bottom: -60px; }